@define-color active #f5a191;

* {
	border: none;
	border-radius: 0;
	font-family: jetbrains mono nerd font;
	font-size: 12px;
	padding: 0 2px;
	margin: 0;
}

window#waybar {
	background-color: transparent;
	color: white;
}

#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#tray,
#workspaces {
	background-color: transparent;
	color: white;
}

#workspaces button {
	background-color: transparent;
	color: white;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: inherit;
}

#workspaces button.active,
button.focused {
	background-color: transparent;
	color: @active;
}
